/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
}

.bg-lightgreen {
    background-color: #7FFFD4;
}

/*margin*/

.mr-x {
    margin: 0 20px;
}

/* # generals*/

header {
    display: flex;
    justify-content: space-between;
}

main {
    height: 800px;
    padding: 40px;
}

#grid {
    margin: 0 auto;
    border: 2px solid black;
    height: 700px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#grid .cell {
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid.normal .cell {
    height: calc(100% / 9);
    width: calc(100% / 9);
}

#grid.hard .cell {
    height: calc(100% / 7);
    width: calc(100% / 7);
}

#grid.easy .cell {
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.cell.clicked {
    background-color: dodgerblue;
    color: white
}

.cell.clicked.bomb {
    background-color: red;
}